[my_warclick_ally],
[my_warclick_enemy] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	font-size: 4rem;
	font-weight: bold;
}

[my_warclick_ally],
[my_warclick_ally]:hover,
[my_warclick_ally]:focus {
	background-color: green;
}

[my_warclick_enemy],
[my_warclick_enemy]:hover,
[my_warclick_enemy]:focus {
	background-color: red;
}

[my_warclick_list] {
	align-items: center;
}


